@model Rocky.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="POST" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter category id here">
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter category name here">
    </div>
    <input type="submit" class="btn btn-primary w-100" value="Create Category">
    <a asp-action="Index" class="btn btn-info w-100 mt-3">Back to Categories</a>
</form>