@model IEnumerable<Rocky.Models.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Category";
}

<div class="container">

    <h4 class="text-center mt-5">Cateogories List</h4>
    <hr>
    <a asp-action="Create" class="btn btn-success w-100">Create Category</a>
    @if (Model.Count() > 0)
    {
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category Order</th>
                    <th scope="col">Category Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.DisplayOrder</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center mt-5">There are no categories</h4>
    }
</div>
